input[type="color"] {
    width: 20px;
    height: 20px;
    padding: 0px;
}

#smf-tree-wrap {
    padding-bottom: 20px;
}

li.jqtree_common:hover {
    background-color: #f0f0f1;
    border-color: #2271b1;
}

li.jqtree_common {
    margin: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.jqtree_common .jqtree-selected {
    background-color: #f0f0f1;
    border-color: #2271b1;
}

.smf-edit-name {
    background-color: unset;
    border-style: none;
    line-height: 32px;
    outline: none;
    font-size: unset;
    box-shadow: none !important;
    background-color: transparent;
}

input[disabled].smf-edit-name {
    background: transparent;
    padding: 0px;
}

.smf-edit-name:disabled,
.smf-edit-color:disabled {
    pointer-events: none;
}

.smf-node-edit {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.jqtree-title {
    display: none;
}

ul.jqtree-tree .jqtree-toggler.jqtree-toggler-left {
    margin-left: 0.5em;
    font-family: serif;
    align-content: center;
}

ul.jqtree-tree li.jqtree-selected>.jqtree-element,
ul.jqtree-tree li.jqtree-selected>.jqtree-element:hover {
    background-color: #97bdd6;
    background: transparent;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}